.company-info-container__info {
  padding-top: 0;
}

.projects {
  background-color: #59585d;
  padding: 50px;
  color: white;
}

.projects .btn-border {
  background-color: transparent;
  width: 100%;
  margin-top: 40px;
  color: white;
  font-family: "Roboto", Helvetica, serif;
  font-size: 16pt;
  border-radius: 0;
  border: 2px solid white;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.projects .btn-border:hover {
  border: 2px solid white;
  background-color: white;
}

.projects-header-quote {
  margin-bottom: 20px;
}

.projects-header-quote {
  font-style: italic;
}

.projects h1,
.projects h3 {
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.projects p {
  font-family: "Roboto", Helvetica, serif;
  padding: 0 10px;
}

.projects-header-quote {
  font-style: italic;
}
/*.luvtalk-project, .personal-website-project, .strike-zone-project, .resume {border: 3px solid white;}*/

.luvtalk-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../../images/luvtalklogo.png);
  background-position: center center;
}
.personal-website-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../../images/logo.svg);
  background-position: center center;
}

.strike-zone-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../../images/mlbproject.png);
  background-position: center center;
}

.banner-buttons .btn-border,
.submit-contact .btn-border,
.projects .btn-border {
  background-color: transparent;
  width: 100%;
  margin-top: 40px;
  color: white;
  font-family: "Roboto", Helvetica, serif;
  font-size: 16pt;
  border-radius: 0;
  border: 2px solid white;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.banner-buttons .btn-border:hover,
.submit-contact .btn-border:hover,
.projects .btn-border:hover {
  border: 2px solid white;
  background-color: white;
}

.submit-contact .btn-border {
  margin-top: 10px;
}
